body{
  background-color: #EBEBEB;
}
.App {
  text-align: center;
  
}

.k10{
    display: flex;
    color: #5c5c5c;
    font-weight: bolder;;
    padding-left: 1.5vw;
    font-size: 2vw;
    /* letter-spacing: .1vw; */
  
}
